.header
{
    background-color: rgb(170, 209, 223);
    width: 100%;
    height: 10%;
    display: block;
    
}
.score
{
    justify-content: center;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: "Consolas";
    font-weight: bold;
    font-size: 75px;
    color: rgb(60, 60, 95);
}
.boxes
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
}
.box1
{
    width: 50%;
    height: 100%;
    background-color: rgb(232, 248, 255);
}
.box2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(191, 235, 255);
}
.selectorbox
{
    background-color: rgb(194, 227, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 10%;
    margin-left: 25%;
}
.rocket { font-size: 50px; }
.paper { font-size: 50px; }
.finger { font-size: 50px; }

.player1
{
    font-size: 200px;
    text-align: center;
    justify-items: center;
}
.player2
{
    font-size: 200px;
    position: absolute;
    top: 30.85%;
}